{% load static %}
<div class="container-fluid">
    <div class="container section">
        <div class="divider"></div>
        <hr id="aboutme">
        <h2>Education</h2>
        <div class="medium"></div>
        <div class="row exp_line frame fromleft">
            <div class="col-md-3">
                <div class="row">
                    <div class="col-1 timeline_mobile">
                        <div class="timeline_bullet"></div><div></div>
                    </div>
                    <div class="col">
                        <p class="about_title">Universitas Indonesia</p>
                        <p>2018 - 2022</p>
                        <div style="height: 10px;"></div>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="row">
                    <div class="col-1 timeline_pc">
                        <div class="timeline_bullet"></div><div></div>
                    </div>
                    <div class="col">
                        <p><b>Information System</b></p>
                        <ul>
                            <li>Excelled in web design, UI/UX, and database management. </li>
                            <li>Most active period as a graphic or UI/UX designer and developer.</li>
                        </ul>
                        <div class="divider_exp"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row exp_line frame fromleft">
            <div class="col-md-3">
                <div class="row">
                    <div class="col-1 timeline_mobile">
                        <div class="timeline_bullet"></div><div></div>
                    </div>
                    <div class="col">
                        <p class="about_title">SMAN 1 Jakarta</p>
                        <p>2015 - 2018</p>
                        <div style="height: 10px;"></div>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="row">
                    <div class="col-1 timeline_pc">
                        <div class="timeline_bullet"></div><div></div>
                    </div>
                    <div class="col">
                        <p><b>IPA/Science</b></p>
                        <ul>
                            <li>Growing interest in coding, graphic design, and branding. </li>
                            <li>Got the first major branding job for the school’s basketball championship.</li>
                        </ul>
                        <div class="divider_exp"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row exp_line frame fromleft">
            <div class="col-md-3">
                <div class="row">
                    <div class="col-1 timeline_mobile">
                        <div class="timeline_bullet"></div>
                    </div>
                    <div class="col">
                        <p class="about_title">SMPN 1 Jakarta</p>
                        <p>2012 - 2015</p>
                        <div style="height: 10px;"></div>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="row">
                    <div class="col-1 timeline_pc">
                        <div class="timeline_bullet"></div>
                    </div>
                    <div class="col">
                        <ul>
                            <li>Excelled in Mathematics and English courses.</li>
                            <li>Growing interest in poster designs.</li>
                        </ul>
                        <div class="divider_exp"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="medium"></div>
    <div class="container section">
        <hr>
        <h2>Work & Organizational Experiences</h2>
        <div class="medium"></div>
        <div class="row exp_line frame fromright">
            <div class="col-md-3">
                <div class="row">
                    <div class="col-1 timeline_mobile">
                        <div class="timeline_bullet"></div><div></div>
                    </div>
                    <div class="col">
                        <p class="about_title">CLICK App</p>
                        <p>2020 - </p>
                        <div style="height: 10px;"></div>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="row">
                    <div class="col-1 timeline_pc">
                        <div class="timeline_bullet"></div><div></div>
                    </div>
                    <div class="col">
                        <p><b>Chief Creative Officer</b></p>
                        <ul>
                            <li>Designing bright, fun, and meaningful branding.</li>
                            <li>Designed the app’s intuitive UI/UX prototype.</li>
                        </ul>
                        <div class="divider_exp"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row exp_line frame fromright">
            <div class="col-md-3">
                <div class="row">
                    <div class="col-1 timeline_mobile">
                        <div class="timeline_bullet"></div><div></div>
                    </div>
                    <div class="col">
                        <p class="about_title">OIM UI 2020</p>
                        <p>2020 -</p>
                        <div style="height: 10px;"></div>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="row">
                    <div class="col-1 timeline_pc">
                        <div class="timeline_bullet"></div><div></div>
                    </div>
                    <div class="col">
                        <p><b>Front-End Developer</b></p>
                        <ul>
                            <li>Designing the website with a clean and neumorphic design.</li>
                            <li>Programmed the front-end and its integration with the back-end and its database</li>
                        </ul>
                        <div class="divider_exp"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row exp_line frame fromright">
            <div class="col-md-3">
                <div class="row">
                    <div class="col-1 timeline_mobile">
                        <div class="timeline_bullet"></div><div></div>
                    </div>
                    <div class="col">
                        <p class="about_title">Educare 2020</p>
                        <p>2020 - </p>
                        <div style="height: 10px;"></div>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="row">
                    <div class="col-1 timeline_pc">
                        <div class="timeline_bullet"></div><div></div>
                    </div>
                    <div class="col">
                        <p><b>Head of Creative</b></p>
                        <ul>
                            <li>Creating fun and simple branding alongside ideas and 
                                concepts for the event’s hype.</li>
                            <li>Managing a team of young freshman designers.</li>
                            <li>Providing an intuitive design language.</li>
                        </ul>
                        <div class="divider_exp"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row exp_line frame fromright">
            <div class="col-md-3">
                <div class="row">
                    <div class="col-1 timeline_mobile">
                        <div class="timeline_bullet"></div><div></div>
                    </div>
                    <div class="col">
                        <p class="about_title">Bhakti Consulting</p>
                        <p>2019 - 2019</p>
                        <div style="height: 10px;"></div>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="row">
                    <div class="col-1 timeline_pc">
                        <div class="timeline_bullet"></div><div></div>
                    </div>
                    <div class="col">
                        <p><b>Graphic Designer</b></p>
                        <ul>
                            <li>Creating a brand from scratch.</li>
                            <li>Designed and created the company profile on Elementor</li>
                        </ul>
                        <div class="divider_exp"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row exp_line frame fromright">
            <div class="col-md-3">
                <div class="row">
                    <div class="col-1 timeline_mobile">
                        <div class="timeline_bullet"></div><div></div>
                    </div>
                    <div class="col">
                        <p class="about_title">BEM Fasilkom UI</p>
                        <p>2018 - 2019</p>
                        <div style="height: 10px;"></div>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="row">
                    <div class="col-1 timeline_pc">
                        <div class="timeline_bullet"></div><div></div>
                    </div>
                    <div class="col">
                        <p><b>Video Editor Staff, Mentor</b></p>
                        <ul>
                            <li>Translating information into a packed and enjoyable watching 
                                experience.</li>
                            <li>Helped teached freshman with their designing skills and application of choice.</li>
                        </ul>
                        <div class="divider_exp"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row exp_line frame fromright">
            <div class="col-md-3">
                <div class="row">
                    <div class="col-1 timeline_mobile">
                        <div class="timeline_bullet"></div>
                    </div>
                    <div class="col">
                        <p class="about_title">OIM UI 2018</p>
                        <p>2018 - 2018</p>
                        <div style="height: 10px;"></div>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="row">
                    <div class="col-1 timeline_pc">
                        <div class="timeline_bullet"></div>
                    </div>
                    <div class="col">
                        <p><b>Media Staff</b></p>
                        <ul>
                            <li>Creating and designing posts and updates for the event.</li>
                        </ul>
                        <div class="divider_exp"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="medium"></div>
        <div class="row justify-content-center">
            <a class="mybutton invert" href="https://drive.google.com/file/d/13rSltMtlca1yhz4zOzUdnZjAW2ZmwCXC/view?usp=sharing" target="_blank">
                <div style="height: 6px;"></div>
                <h3>Download CV (GDrive)</h3>
            </a>
        </div>
        <div class="divider"></div>
    </div>
</div>