{% extends 'base.html' %}


{% block title %}
    Comment
{% endblock title %}
    

{% block content %}
    <div class="container">
        <form  method="POST" action="{% url 'home:comment' %}">
            {% csrf_token %}
            <p>
              <div class="login">{{forms.as_p}}</div>
            </p>
            <input type="submit" value="Comment" name="tombol" class="mybutton">
        </form>
    </div>
{% endblock content %}
    