{% load static %}
<div class="container-fluid footer" id="contact">
    <hr>
    <div class="small"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h1 style="font-size: 64px;">Like what you see?</h1>
                <div style="max-width: 400px;">
                    <hr>
                    <p><b>Find me on</b></p>
                    <div class="row justify-content-between footer_logo align-content-center">
                        <a href="https://www.instagram.com/ziokautsar/"><img src="{% static 'images/socmed/instagram.svg' %}" alt="Instagram"></a>
                        <a href="https://twitter.com/farizio_kautsar"><img src="{% static 'images/socmed/twitter.svg' %}" alt="Twitter"></a>
                        <a href=""><img src="{% static 'images/socmed/line.svg' %}" alt="LINE"></a>
                        <a href="https://www.linkedin.com/in/farizio-kautsar-655844126/"><img src="{% static 'images/socmed/linkedin.svg' %}" alt="LinkedIn"></a>
                        <a href="https://api.whatsapp.com/send?phone=6281282100255"><img src="{% static 'images/socmed/whatsapp.svg' %}" alt="Whatsapp"></a>
                    </div>
                </div>
                <div class="small"></div>
            </div>
            <div class="col-sm">
                <div style="height: 20px;"></div>
                <h2>Shoot me a message :)</h2>
                <div style="height: 10px;"></div>
                <a href="mailto: kheruzy@gmail.com">
                    <div class="row">
                        <div class="col-1">
                            <img src="{% static 'images/socmed/email.svg' %}" height="20px" alt="">
                        </div>
                        <div class="col">
                            <p>kheruzy@gmail.com</p>
                        </div>
                    </div>
                </a>
                <div style="height: 5px;"></div>
                <a href="tel:+6281282100255">
                    <div class="row">
                        <div class="col-1">
                            <img src="{% static 'images/socmed/phone.svg' %}" height="20px" alt="">
                        </div>
                        <div class="col">
                            <p>+62 812 8210 0255</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <hr>
        <div style="width: 100%;">
            <p style="text-align: center; font-size: 12px;">© Farizio Kautsar Heruzy | 2020</p>
        </div>
    </div>
</div>