{% extends 'base.html' %}
{% load static %}

{% block title %}
    Homepage
{% endblock title %}
    

{% block content %}
    {% include 'navbar.html' %}
    {% include 'overlay.html' %}
    <div class="parallax background1">
        <div class="background2">
            <div class="background3">
                <div class="container-fluid landing ">
                    <div class="container extra_margin center section">
                        <div class="frame frombottom">
                            <img src="{% static 'images/others/me_trans.png' %}" alt="" class="about_me_pic">
                        </div>
                        <h1 class="frame fromleft">Hello :)</h1>
                        <div class="landing_paragraph frame fromleft">
                            <p><b>Farizio Kautsar Heruzy </b>is a full-time student with a 
                                high passion in web design and front-end development. 
                                He's currently studying Information System in Faculty 
                                of Computer Science of University of Indonesia. 
                                Farizio has confidence in giving a reliable service to 
                                provide a clean, handsome, and overall awesome face for your next project. 
                            </p>
                        </div>
                        <div class="landing_divider"></div>
                        <div class="row justify-content-center">
                            <a href="#whatido" class="mybutton frame fromleft">See What I Do</a>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <div class="container-fluid whatido_back section_back">
                        <div class="container-sm">
                            <!-- <hr id="whatido"> -->
                            <!-- <h2>What I Do</h2> -->
                            <div class="medium"></div>
                            <div class="whatido justify-content-start section">
                                <div class="row">
                                    <div class="col frame frombottom">
                                        <div class="mycard">
                                            <img src="{% static 'images/cards/card_1.jpg' %}" alt="">
                                            <div class="mycard_content">
                                                <h4>Branding & Illustration</h4>
                                                <p>
                                                    To create a recognizable brand, you’ll need 
                                                    a website that focuses on storytelling, being true, 
                                                    and being to-the-point. You can trust me to make an 
                                                    engaging, sleek, and modern looking branding that 
                                                    can tell your story as loud as you need it.
                                                </p>
                                                <div class="row" style="position: absolute; bottom: 30px; width: 100%;">
                                                    <div class="col-2">
                                                        <img src="{% static 'images/tools/photoshop.svg' %}" height="40px" alt="Adobe Photoshop">
                                                    </div>
                                                    <div class="col-2">
                                                        <img src="{% static 'images/tools/ai.svg' %}" height="40px" alt="Adobe Illustrator">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col frame frombottom">
                                        <div class="mycard">
                                            <img src="{% static 'images/cards/card_2.jpg' %}" alt="">
                                            <div class="mycard_content">
                                                <h4>User Interface and Experience</h4>
                                                <p>In order for a visitor to stay on your website, 
                                                    we’d have to give them a warm welcome and an 
                                                    exciting tour. For that, the visitor needs be 
                                                    aware of where they are at all times. You can 
                                                    trust me in making an intuitive interface with 
                                                    great balance between style and functionality.</p>
                                                <div class="row" style="position: absolute; bottom: 30px; width: 100%;">
                                                    <div class="col-2">
                                                        <img src="{% static 'images/tools/figma.svg' %}" height="40px" alt="Figma">
                                                    </div>
                                                    <div class="col-2">
                                                        <img src="{% static 'images/tools/xd.svg' %}" height="40px" alt="Adobe XD">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col frame frombottom">
                                        <div class="mycard">
                                            <img src="{% static 'images/cards/card_3.jpg' %}" alt="">
                                            <div class="mycard_content">
                                                <h4>Front-end, Web Development</h4>
                                                <p>In creating an awesome experience, not only requires 
                                                    a great navigation and/or interface, but also a great 
                                                    feel to your website and/or app. Having a versatile 
                                                    and high-skilled developer enables you to freely 
                                                    imagine anything and the developer can guarantee to manifest it.
                                                </p>
                                                <div class="row" style="position: absolute; bottom: 30px; width: 100%;">
                                                    <div class="col-2">
                                                        <img src="{% static 'images/tools/html.svg' %}" height="40px" alt="">
                                                    </div>
                                                    <div class="col-2">
                                                        <img src="{% static 'images/tools/css.svg' %}" height="40px" alt="">
                                                    </div>
                                                    <div class="col-2">
                                                        <img src="{% static 'images/tools/js.svg' %}" height="40px" alt="">
                                                    </div>
                                                    <div class="col-2">
                                                        <img src="{% static 'images/tools/django.svg' %}" height="40px" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="whatido_right"></div>
                                </div>
                                <div class="row justify-content-end swipe_left">
                                    <p>Swipe left to see more ></p>
                                </div>
                            </div>
                        </div>
                        <div class="medium"></div>
                    </div>
                    {% include 'about.html' %}
                    <div class="container-fluid">
                        <div class="container">
                            {% include 'portofolio.html' %}
                        </div>
                        <div class="divider"></div>
                    </div>
                    {% include 'footer.html' %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}