{% load static %}
<nav class="navbar fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/"><b>farizio</b></a>
        <a class="mybutton mobile" style="position: absolute; right: 80px;" href="#footer">Contact Me</a>
        <div class="navi">
            <div class="hamburger">
                <div class="dropdown center">
                    <div class="line line1"></div>
                    <div class="line line2"></div>
                </div>
            </div>
            <ul class="nav-links">
                <li><a href="#aboutme">About Me</a></li>
                <li><a href="#portofolio">Portofolio</a></li>
            </ul>
        </div>
        <a class="mybutton desktop" href="#contact">Contact Me</a>
    </div>
</nav>