{% load static %}
<div id="overlay_card" class="container overlay_card center even_extra_margin">
    <div class="row">
        <div class="col-sm">
            <div id="overlay_pic" class="overlay_pic">
                <!-- pic here -->
            </div>
        </div>
        <div class="col-sm-7 overlay_content">
            <h2 class="overlay_title">Hello</h2>
            <p class="year" style="font-weight: 700;"></p>
            <p class="overlay_para">Lorem Ipsum is simply dummy text of the printing 
                and typesetting industry. Lorem Ipsum has been the 
                industry's standard dummy text ever since the 1500s, 
                when an unknown printer took a galley of type and 
                scrambled it to make a type specimen book. </p>
        </div>
    </div>
</div>
<div id="overlay" class="overlay" onclick="overlayOff()">
<script src="{% static 'scripts/overlay.js' %}"></script>
</div>