{% load static %}
<div class="section">
    <hr id="portofolio">
    <h2>Logo Works</h2>
    <div class="small"></div>
    <div class="section logo_gallery">
        <div class="row">
            <div class="col frame" onclick="overlayOn('bok')">
                <img class="center gal_logo" src="{% static 'images/logos/bok.svg' %}" alt="">
                <img class="center gal_prev" src="{% static 'images/logos_hover/bok.png' %}" alt="">
            </div>
            <div class="col frame" onclick="overlayOn('hubble')">
                <img class="center gal_logo" src="{% static 'images/logos/hubble.svg' %}" alt="">
                <img class="center gal_prev" src="{% static 'images/logos_hover/hubble.png' %}" alt="">
            </div>
            <div class="col frame" onclick="overlayOn('dp')">
                <img class="center gal_logo" src="{% static 'images/logos/dp.svg' %}" alt="">
                <img class="center gal_prev" src="{% static 'images/logos_hover/dp.png' %}" alt="">
            </div>
            <div class="col frame" onclick="overlayOn('pa')">
                <img class="center gal_logo" src="{% static 'images/logos/pa.svg' %}" alt="">
                <img class="center gal_prev" src="{% static 'images/logos_hover/pa.png' %}" alt="">
            </div>
            <div class="col frame" onclick="overlayOn('uneev')">
                <img class="center gal_logo" src="{% static 'images/logos/uneev.svg' %}" alt="">
                <img class="center gal_prev" src="{% static 'images/logos_hover/uneev.png' %}" alt="">
            </div>
            <div class="col frame" onclick="overlayOn('bsc')">
                <img class="center gal_logo" src="{% static 'images/logos/bsc.svg' %}" alt="">
                <img class="center gal_prev" src="{% static 'images/logos_hover/bsc.png' %}" alt="">
            </div>
            <div class="col frame" onclick="overlayOn('kamrad')">
                <img class="center gal_logo" src="{% static 'images/logos/kamrad.svg' %}" alt="">
                <img class="center gal_prev" src="{% static 'images/logos_hover/kamrad.png' %}" alt="">
            </div>
            <div class="col frame" onclick="overlayOn('quanta')">
                <img class="center gal_logo" src="{% static 'images/logos/quanta.png' %}" alt="">
                <img class="center gal_prev" src="{% static 'images/logos_hover/quanta.png' %}" alt="">
            </div>
            <div class="col frame" onclick="overlayOn('semendo')">
                <img class="center gal_logo" src="{% static 'images/logos/semendo.svg' %}" alt="">
                <img class="center gal_prev" src="{% static 'images/logos_hover/semendo.png' %}" alt="">
            </div>
            <div class="col frame" onclick="overlayOn('bjc')">
                <img class="center gal_logo" src="{% static 'images/logos/bjc.png' %}" alt="">
                <img class="center gal_prev" src="{% static 'images/logos_hover/bjc.png' %}" alt="">
            </div>
            <div class="col frame" onclick="overlayOn('fg')">
                <img class="center gal_logo" src="{% static 'images/logos/fg.svg' %}" alt="">
                <img class="center gal_prev" src="{% static 'images/logos_hover/fg.png' %}" alt="">
            </div>
            <div class="col frame" onclick="overlayOn('dobutsu')">
                <img class="center gal_logo" src="{% static 'images/logos/dobutsu.svg' %}" alt="">
                <img class="center gal_prev" src="{% static 'images/logos_hover/dobutsu.png' %}" alt="">
            </div>
        </div>
    </div>
</div>
<div class="divider"></div>
<div class="section">
    <hr id="portofolio">
    <h2>Branding Works</h2>
    <div class="section website_gallery">
        <div class="small"></div>
        <div class="row">
            <div class="col-lg website_frame frame fromleft">
                <a href="https://www.instagram.com/clickapps.id/">
                    <div class="website_info">
                        <h4>CLICK</h4>
                        <p>CLICK is a mobile application-based online marketplace 
                            that connects small businesses with its customers in 
                            a straight-forward and simple manner. Making it easy 
                            for new customers to find out about new businesses 
                            and for those new businesses to grow quickly.
                        </p>
                    </div>
                    <img src="{% static 'images/brand/click.png' %}" alt="">
                </a>
            </div>
            <div class="col-lg website_frame frame fromright">
                <a href="https://www.instagram.com/educare2020/">
                    <div class="website_info">
                        <h4>Educare UI 2020</h4>
                        <p>Educare (Education and Career Days) is a series of 
                            events aimed at helping STEM students (science, 
                            technology, engineering, mathematics) to determine 
                            what's next for their career after graduating from college.
                        </p>
                    </div>
                    <img src="{% static 'images/brand/educare.png' %}" alt="">
                </a>
            </div>
        </div>
    </div>
</div>
<div class="divider"></div>
<div class="section">
    <hr>
    <h2>Website and UI/UX Works</h2>
    <div class="section website_gallery">
        <div class="small"></div>
        <div class="row">
            <div class="col-lg website_frame frame fromleft">
                <a href="http://oim-2020.herokuapp.com/">
                    <div class="website_info">
                        <h4>OIM UI 2020</h4>
                        <p>OIM UI is one of the programs of BEM UI 
                            under the Ministry of Education of Science as 
                            a forum for students of the University of 
                            Indonesia to determine their abilities in the scientific field.</p>
                    </div>
                    <img src="{% static 'images/websites/oim2020.jpg' %}" alt="">
                </a>
            </div>
            <div class="col-lg website_frame frame fromright">
                <a href="http://bhaktistrategic.com/">
                    <div class="website_info">
                        <h4>Bhakti Strategic Company Profile</h4>
                        <p>PT Bhakti Strategic Consulting (BSC) 
                            is a company engaged in the field of 
                            management consulting and training 
                            services that was established in 2009</p>
                    </div>
                    <img src="{% static 'images/websites/bsc.jpg' %}" alt="">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg website_frame frame fromleft">
                <a href="https://www.figma.com/proto/vmvhMMCW8O7XV4mx53plNe/CLICK?node-id=114%3A394&viewport=845%2C513%2C0.16187302768230438&scaling=scale-down">
                    <div class="website_info">
                        <h4>Click App Prototype</h4>
                        <p>Made in Figma, the Click app's interface features a clean neumorphic design
                            with a fun light color and a lot of breathing spaces.
                        </p>
                    </div>
                    <img src="{% static 'images/websites/click.jpg' %}" alt="">
                </a>
            </div>
            <div class="col-lg website_frame frame fromright">
                <a href="http://tkbasdatnih.herokuapp.com/">
                    <div class="website_info">
                        <h4>Farmakami</h4>
                        <p>Farmakami is a fictional starup that acts as 
                            a client for university's database course.</p>
                    </div>
                    <img src="{% static 'images/websites/farmakami.jpg' %}" alt="">
                </a>
            </div>
        </div>
    </div>
</div>