.timeline_pc {
    visibility: visible; 
    display: flex;
    justify-content: center;
}
.timeline_mobile {
    display: none;
    justify-content: center;
}

.divider_exp {height: 40px;}

.timeline_pc div, .timeline_mobile div{
    background-color: #FFEE54;
    width: 1px;
    height: 0%;
    /* line-height: 50%; */
    margin-top: 10px;
    /* margin-left: 1px; */
    position: absolute;
    transition: 1s;
}

.timeline_show {height: 100% !important;}

.timeline_pc .timeline_bullet, .timeline_mobile .timeline_bullet {
    height: 10px !important;
    width: 10px;
    border-radius: 50% !important;
    background-color: #FFEE54;
}

.about_me_pic {
    height: 800px;
    position: absolute;
    right: 0px;
    transform: translateX(0%);
    top: -50px;
}

.app_exp .col {
    border: 2px solid #448FFF;
    max-height: 240px;
    min-width: 200px;
    max-width: 300px;
    margin: 15px;
    padding: 50px 0px;
    background-color: #171717;
    background-position: center;
    transition: 150ms;
    /* background-size: 200%; */
    background-repeat: no-repeat;
    overflow: hidden;
    /* cursor: pointer; */
    text-align: center;
}

/* .app_exp .col:hover {border: 2px solid white;}
.app_exp .col .app_exp_card {padding-top: 50px;}
.app_exp .col img {margin-bottom: 30px; height: 60px;}
.app_exp .col p {margin-bottom: 0px;} */

.exp h2 {margin-bottom: 0px;}

.exp_line {
    min-width: 200px;
    /* border: 2px solid white; */
    /* padding: 30px; */
    /* background-color: #171717; */
}

.exp_line img {
    height: 100px;
    margin-bottom: 30px;
}
.exp_line > .col-md-3 .col {text-align: right;}
.exp_line p {margin-bottom: 0px;}
.exp_line h4 {font-size: 18px;}
.exp_line .row {height: 100%;}
.work_exp .exp_line {text-align: center;}
.work_exp img {height: 60px;}
.about_title {font-weight: 700;}

@media only screen and (max-width: 1025px) {
    .about_me_pic {
        height: 700px;
        right: -50px;
        top: -90px;
    }
}

@media only screen and (max-width: 767px) {
    .about_me_pic {
        height: 450px;
        right: 50%;
        transform: translateX(50%);
        top: 0px;
    }

    .timeline_mobile {display: flex;}
    .timeline_pc .timeline_bullet {visibility: hidden;}
    .exp_line .col-md-3 .col {text-align: left;}
    .app_exp .col { 
        max-height: 240px;
        min-width: 140px;
        padding: 30px 20px;
    }
    .exp_line {
        min-width: 140px;
    }
}