.footer {
    background-color: #202020;
    padding-bottom: 2px;
}

.footer_logo {
    width: 300px;
}

.footer_logo img {
    width: 30px;
    margin: 0px 15px;
    opacity: 1;
}

.footer_logo img:hover {
    opacity: 0.5;
}