.mycard {
    border: 2px solid #FFEE54;
    background-color: #171717;
    height: 450px;
    width: inherit;
    transition: 300ms ease-out;
    overflow: hidden;
    margin: 15px 0px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
}

.mycard:hover {
    background-color: #FFEE54;
    color: #171717;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.mycard:hover > img {
    min-height: 0px;
    height: 0%;
}

.mycard > img {
    position: relative;
    top: 0;
    width: 100%;
    min-height: 330px ;
    height: 50%;
    object-fit: cover;
    transition: 300ms ease-out;
}

.mycard_content {padding: 30px; position: relative; height: inherit;}
.mycard_content h4 {margin-bottom: 30px;}
.mycard_content p {margin-bottom: 0;}

.whatido .col {
    min-width: 300px;
    scroll-snap-align: start;
}

.whatido_right {
    width: 0px;
}

.swipe_left {display: none; padding-left: 15px;}
.swipe_left p {font-size: 15px;}

@media only screen and (max-width: 768px) {
    .whatido > .row {
        max-width: 100%;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        flex-wrap: nowrap;
        width: 100vw;
        margin: 0px;
    }

    .mycard {
        height: 500px;
    }
    
    .mycard > img {
        min-height: 380px;
    }

    .whatido > .row::-webkit-scrollbar {
        display: none;
      }

    .whatido_right {
        width: 1000px !important;
    }

    .swipe_left {display: block;}
}