.navbar a {color: white; text-decoration: none !important;}
.navbar a:hover {text-decoration: none !important;}
.navbar {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, #171717 100%);
    height: 80px;
    transition: 300ms;
}

.navi {
    position: absolute;
    top: 0px;
    left: 50%;
    height: 80px;
    transform: translate(-50%, 0%);
    width: 100%;
    max-height: 80px;
}

.hamburger {
    display: none;
    height: 100%;
    width: 80px;
    z-index: 100;
}

.navbar-brand {z-index: 200;}

.line {
    height: 2px;
    width: 100%;
    background-color: #FFEE54;
    transition: 150ms;
}

.line1 {margin-top: 20%;}
.line2 {margin-top: 40%;}

.rotate1 {
    margin-top: 50%;
    transform: rotate(45deg);
    margin-bottom: -1px;
}

.rotate2 {
    margin-top: 0%;
    transform: rotate(-45deg);
}

.dropdown {
    position: relative;
	transition: 300ms ease-in-out;
    width: 30px;
    height: 30px;
}

.nav-links {
	display: flex;
	list-style: none;
	width: 25%;
	justify-content: space-around;
	align-items: center;
    margin: 0 auto;
    padding-top: 27px;
    padding-left: 0px;
}

.desktop {display: block;}
.mobile {display: none;}

@media screen and (max-width: 768px) {
    .hamburger {
		position: absolute;
		display: block;
        cursor: pointer;
        right: 0;
        top: 0;
    }
    
    .nav-links{
        background: #171717;
		border: 1px solid white;
		height:120px;
        width:180px;
		flex-direction: column;
		clip-path : circle(100px at 100% -100%);
		-webkit-clip-path: circle(100px at 100% -100%);
        transition: all 300ms ease-in-out;
        padding-top: 0px;
        padding-left: 0px;
        padding-bottom: 30px;
        margin-top: 80px;
        margin-right: 7px;
    }

    .nav-links a{font-size: 20px;}
    
    .nav-links.open{
		clip-path : circle(700px at 50% -20%);
		-webkit-clip-path: circle(700px at 50% -20%);
        box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.15);
        padding-top: 20px;
		padding-bottom: 20px;
    }
    
    .desktop {display: none;}
    .mobile {display: block;}
}