.overlay {
    background: linear-gradient(90deg, rgba(23, 23, 23, 0) 0%, rgba(23, 23, 23, 0.75) 25%, #171717 40%, #171717 60%, rgba(23, 23, 23, 0.75) 75%, rgba(23, 23, 23, 0) 100%);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    visibility: hidden;
    z-index: 300;
    background-size: 0%;
    transition: 300ms;
    opacity: 0%;
}

.overlay-show {
    visibility: visible;
    background-size: 500%;
    opacity: 75%;
    transition: 500ms;
}

.overlay_card {
    max-height: 600px;
    z-index: 400;
    visibility: hidden;
    margin-top: -50px;
    opacity: 0;
    transition: 300ms;
}

.overlay_card .row{max-height: 600px;}
.overlay_card .col-sm {height: 100%;}

.overlay_content {
    max-height: 600px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.overlay_card-show {
    visibility: visible;
    margin-top: 0px;
    opacity: 1;
}

.overlay_pic {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    max-height: 600px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    scroll-snap-type: x mandatory;
}

.overlay_pic img{
    object-fit: cover;
    max-height: 100%; width: 100%;
    margin-bottom: 30px;
    margin-right: 0px;
    scroll-snap-align: start;
}

@media screen and (max-width: 767px) {
    .overlay_content {
        max-height: 300px;
    }

    .overlay_pic {
        max-height: 300px;
        flex-direction: row;
        overflow-y: hidden;
        overflow-x: scroll;
    }

    .overlay_pic img{
        margin-bottom: 0px;
        margin-right: 30px;
    }
}