.logo_gallery .col {
    /* background-color: #FFEE54; */
    height: 240px;
    min-width: 240px;
    margin: 15px;
    background-position: center;
    transition: 150ms;
    /* background-size: 200%; */
    background-repeat: no-repeat;
    overflow: hidden;
    cursor: pointer;
    text-align: center;
    padding: auto;
}

.gal_logo {opacity: 100; transition: 150ms; height: 100%;}
.logo_gallery .col:hover .gal_logo {opacity: 0; height: 80%;}

.gal_prev {opacity: 0; z-index: 200; transition: 150ms; height: 125%;}
.logo_gallery .col:hover .gal_prev {opacity: 100; height: 102%;}

.website_frame {
    background-color: #171717;
    height: 300px;
    margin: 15px;
    padding: 0;
    overflow: hidden;
    cursor: pointer;
}

.website_frame:hover {
    background-color: #FFEE54;
}

.website_frame:hover img {
    top: -30px;
}

.website_frame a p, .website_frame a h4 {color: #171717;}
.website_frame a h4 {margin-bottom: 20px;}
.website_frame p {margin-bottom: 0;}
.website_frame:hover .website_info {
    top: 0;
    opacity: 1;
}

.website_info {
    position: absolute;
    left: 0;
    top: 100%;
    padding: 30px;
    z-index: 2;
    height: 100%;
    /* opacity: 0; */
    transition: 300ms ease-out;
    background-color: #FFEE54;
}

.website_gallery img {
    opacity: 1;
    position: absolute;
    height: 100%; min-width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    transition: 300ms ;
    z-index: -2;
}

@media only screen and (max-width: 768px) {
    .logo_gallery .col {
        height: 140px;
        min-width: 140px;
    }

    .website_gallery .row div {
        height: 200px;
    }
}